<footer >
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <div class="footer">
                <ul class="social-list">
                    <li>
                        <a class="fa fa-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-instagram" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-youtube" href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>2015 © Copyright. Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>
