<footer >
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <div class="footer">
                <ul class="menu-footer">
                    <li><a href="" title="">marca 1</a></li>
                    <li><a href="" title="">marca 2</a></li>
                    <li><a href="" title="">marca 3</a></li>
                    <li><a href="" title="">marca 4</a></li>
                    <li><a href="" title="">marca 5</a></li>
                    <li><a href="" title="">marca 6</a></li>
                </ul>
                <hr>
                <ul class="menu-footer">
                    <li><a href="como-funciona.html" title="">Como funciona</a></li>
                    <li><a href="promo.html" title="">Promoções</a></li>
                    <li><a href="contato.html" title="">Contato</a></li>
                    <li><a href="ajuda.html" title="">Ajuda</a></li>
                    <li><a href="marcas.html" title="">Marcas</a></li>
                </ul>

                <ul class="social-list">
                    <li>
                        <a class="fa fa-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-instagram" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-youtube" href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>2015 © Copyright. Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>
