<header class="main-header">
    <div class="nav-header row">
        <div class="large-4 medium-4 small-6 columns">
            <div class="box-menu">
                <a href="index.html">
                    <picture class="nav-logo">
                        <img src="assets/dist/img/logo.png" height="37" width="100" alt="">
                    </picture>
                </a>

                <div class="button-trigger">
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-times"></i>
                    <span>categorias</span>
                </div>
            </div>
        </div>

        <div class="large-4 medium-4 small-3 columns">
            <form action="" class="form-search">
                <input type="text" placeholder="Buscar produto">
                <button class="btn-search"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="large-4 medium-4 small-3 columns text-right">
            <div class="item-login-user">
               <!--  <a class="user-login-link" href="dashboard.html">
                    <i class="fa fa-user"></i>
                    <span>entrar</span>
                </a> -->

                <div class="user-info">
                    <div class="user-info-pic">
                        <img alt="Picture" src="http://graph.facebook.com/100002241529666/picture">
                        <span>Filipe Raiz</span>
                        <i class="fa fa-angle-down"></i>
                    </div>


                    <div class="drop-user-info">
                        <ul>
                          <li><a href="dashboard-loja.html"><i class="fa fa-home"></i>Minha lojinha</a></li>
                          <li><a href="dashboard-conta.html"><i class="fa fa-list"></i>Minha Conta</a></li>
                          <li><a href="dashboard-inbox.html"><i class="fa fa-inbox"></i>Inbox</a></li>
                          <li><a href="#"><i class="fa fa-power-off"></i>Sair</a></li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="item-sell">
                <a class="button" href="add-produto.html">quero vender</a>
            </div>
        </div>
    </div>


    <div class="menu-trigger">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <ul class="menu">
                    <li class="has-sub"><a href=""><span>Acessórios</span></a></li>
                    <li class="has-sub"><a href=""><span>Banho e Higiene</span></a></li>
                    <li class="has-sub"><a href=""><span>Brinquedos</span></a> </li>
                    <li class="has-sub"><a href=""><span>Cama e Decoração</span></a> </li>
                    <li class="has-sub"><a href=""><span>Carrinho e Cia</span></a> </li>
                    <li class="has-sub"><a href=""><span>Móveis</span></a> </li>
                    <li class="has-sub"><a href=""><span>Roupas</span></a> </li>
                    <li class="has-sub"><a href=""><span>Sapatos</span></a> </li>
                    <li class="has-sub"><a href=""><span>Alimentação</span></a> </li>
                    <li class="has-sub"><a href=""><span>Livros e DVD`s</span></a> </li>
                    <li class="has-sub"><a href=""><span>Roupas para menina</span></a> </li>
                    <li class="has-sub"><a href=""><span>Roupas para meninos</span></a> </li>
                </ul>
            </div>
        </div>
    </div>

</header>
